.header {
    height: 120px;
    background-image: linear-gradient(0, #FE6532, #F53E2D);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
}

.header__navbar-item-link--strong {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: solid 1px #fad2cf;
    opacity: 0.3;
    height: 16px;
    top: 0;
    right: -10px;

}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;

}

.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 150%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__qr::before {
    /*bắt cầu */
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -11px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;

}

.header__qr-download-img {
    height: 17px;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11x;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item-has-noti:hover .header__notification {
    display: block;
}

.header__notification {
    position: absolute;
    top: 150%;
    width: 404px;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid #D3D3D3;
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    /* chuyển tâm scale hiệu ứng hàm tính toán để sau này nội dung có dài ra cũng không bị lệch tâm*/
    animation: headerNotification 0.2s ease-in;
    display: none;
    will-change: transform opacity;
    /* tối ưu hóa chuyển động của 2 hiệu ứng trên */
}

@keyframes headerNotification {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


.header__notification::before {
    /*Lớp giả dùng để tạo nút nhọn ở phần thông báo */
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    position: absolute;
    border-color: transparent transparent var(--white-color) transparent;
    right: 10px;
    top: -30px;
}

.header__notification::after {
    content: "";
    position: absolute;
    right: 0;
    top: -20px;
    width: 90px;
    height: 20px;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 40px;
    margin: 0 0 0 12px;
    user-select: none;
    /*không cho người dùng coppy */
}

.header__notify-list {
    padding-left: 0px;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--view {
    background-color: rgba(238, 75, 43, 0.07);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;

}

.header__notify-img {
    width: 20%;
    object-fit: contain;
    /* Làm cho ảnh không bị méo không cần dùng đến thẻ a */
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 410;
    color: var(--black-color);

}

.header__notify-descriotion {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;
}

.footer__notify-footer {}

.footer__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    display: block;
}

/*modal*/

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__forgot-pws {}